* {
    margin: 0;
}

.ads-container {
    margin: 0 auto;
    width: 994px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.images-container {
    display: flex;
    flex-wrap: wrap;
}

.vip-ads-text {
    padding-top: 20px;
    margin-left: 16px;
    vertical-align: bottom;
    height: 20px;
}

.adv {
    border-radius: 3px;
    margin: 16px 8px;
    width: 310px;
    height: 196px;
}

.adv:first-child {
    margin-left: 16px;
}

.adv:last-child {
    margin-right: 16px;
}

.subject,
.place,
.price {
    margin-left: 8px;
    color: #fff;
    font-family: Helvetica;
}

.subject {
    width: 242px;
    height: 24px;
    margin-top: 112px;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
}

.place {
    width: 296px;
    height: 26px;
    font-size: 14px;
    line-height: 20px;
}

.price {
    height: 20px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 20px;
}
